@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
 <form asp-action="Index", method="post">
<div>
    <input type ="text", name="bruger"; style="width:200px" />
</div>
<div>
    <input type ="password", name="mypassword"; style="width:200px" />
</div>

    <div>
         <input type ="submit" style="height:50px; width:200px" />
    </div>
     </form>
</div>

    <div>
         @if(Model != null)
    {
        <h1 class="display-4">@Model.OriginalTxt</h1>
        <h1 class="display-4">@Model.hashvaluestring</h1>
    }
    </div>


 @*@if(Model != null)
    {
        <h1 class="display-4">@Model.OriginalTxt</h1>
        <h1 class="display-4">@Model.hashvaluestring</h1>
    }*@


    <p>Log ind <a href="https://docs.microsoft.com/aspnet/core">og lav din TODO liste</a>.</p>
</div>

